
#
#	  Author :		Luke Brown
#	  License:  	Contracted work - Written permission required from me for third party use.
#	  Created: 		May 2015
#	  URL    :		https://github.com/LukeXF/jetpack
#	  Contact:		me@luke.sx
#

RewriteEngine On
Options -Indexes

ErrorDocument 403 http://jetpack/
ErrorDocument 404 http://jetpack/

# don't touch /assets URIs
#RewriteRule ^assets/ - [L,NC]

php_flag display_startup_errors on
php_flag display_errors on


RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]