* {
  font-family: "proxima-nova", sans-serif;
  text-decoration: none;
  font-weight: 300; }

body {
  background-color: #efefef; }
  body .tile {
    background-color: white;
    padding: 20px auto;
    margin-bottom: 40px; }
  body .animate, body input, body select, body textarea, body option, body input:focus, body select:focus, body textarea:focus, body option:focus, body .btn-black, body .btn-black:hover, body .tile-checkout .tile-address, .tile-checkout body .tile-address, body .tile-cart .tile-address, .tile-cart body .tile-address, body .tile-checkout .tile-address:hover, .tile-checkout body .tile-address:hover, body .tile-cart .tile-address:hover, .tile-cart body .tile-address:hover, body .tile-checkout .tile-address.selected, .tile-checkout body .tile-address.selected, body .tile-cart .tile-address.selected, .tile-cart body .tile-address.selected, body .animate:hover, body input:hover, body select:hover, body textarea:hover, body option:hover, body .btn-black:hover, body .tile-checkout .tile-address:hover, .tile-checkout body .tile-address:hover, body .tile-cart .tile-address:hover, .tile-cart body .tile-address:hover, body .animate:focus, body input:focus, body select:focus, body textarea:focus, body option:focus, body .btn-black:focus, body .tile-checkout .tile-address:focus, .tile-checkout body .tile-address:focus, body .tile-cart .tile-address:focus, .tile-cart body .tile-address:focus, body .animate:active, body input:active, body select:active, body textarea:active, body option:active, body .btn-black:active, body .tile-checkout .tile-address:active, .tile-checkout body .tile-address:active, body .tile-cart .tile-address:active, .tile-cart body .tile-address:active {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out; }
  body .animate-long, body .animate-long:hover {
    transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -webkit-transition: all .75s ease-in-out; }
  body input, body select, body textarea, body option {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    border-radius: 1px !important;
    min-width: 100%;
    max-height: 200px; }
    body input:focus, body select:focus, body textarea:focus, body option:focus {
      outline-color: #222; }
  body .form-btn, body .select-tab .form-btn-center, .select-tab body .form-btn-center {
    text-align: right;
    display: inherit; }
    body .form-btn .btn, body .select-tab .form-btn-center .btn, .select-tab body .form-btn-center .btn {
      background-color: #222;
      font-weight: bold;
      color: white; }
  body .btn-black, body .btn-black:hover {
    background-color: #222;
    color: white; }
  body .btn-black:hover {
    background-color: #333;
    border: 1px solid #222; }

.contentbox {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1); }
  .contentbox a {
    color: #111;
    font-weight: bold; }
  .contentbox a:hover, .contentbox label:hover {
    text-decoration: none;
    color: #dc6526; }
  .contentbox > a {
    text-transform: none !important;
    text-align: right;
    width: 49%;
    min-width: 49%;
    max-width: 49%;
    display: inline-block; }
  .contentbox img {
    margin: auto;
    display: block;
    width: 75px;
    padding-bottom: 20px; }
  .contentbox > a:first-of-type {
    text-align: left; }
  .contentbox img.captcha {
    width: 100%;
    padding: 0 100px;
    margin: 10px auto;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 0;
    display: -webkit-box;
    background-color: white; }
  .contentbox label {
    margin-bottom: 15px;
    vertical-align: -webkit-baseline-middle; }
  .contentbox input, .contentbox select {
    margin: 10px 0;
    padding: 17px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 17px; }
  .contentbox input[type=checkbox] {
    margin-bottom: 15px;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    max-width: 20px !important;
    border: transparent;
    min-width: 16px !important; }
  .contentbox input.box {
    background: #222 !important;
    color: white !important;
    border: 1px solid #222 !important;
    font-weight: 300;
    border-radius: 0 !important;
    padding: 10px;
    width: 100%;
    min-width: 100%; }
  .contentbox .box {
    min-width: 250px;
    max-width: 300px;
    height: 60px;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    margin-bottom: 10px;
    display: -webkit-inline-box;
    border: transparent;
    font-weight: 300; }
  .contentbox .box-small {
    padding: 10px 20px !important;
    font-size: 13px;
    max-width: 300px;
    margin-top: 9px;
    height: 40px;
    text-align: center; }

nav {
  background-color: white !important; }
  nav .navbar-brand > img {
    height: 100%;
    margin-top: 0; }
  nav img.nav-image {
    display: -webkit-inline-box;
    height: 40px;
    margin: -20px 10px -20 0;
    border-radius: 50px; }
  nav .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px; }
  nav .navbar-nav .active a, nav .navbar-nav .active a:hover, nav .navbar-nav .active a:focus {
    background-color: transparent !important;
    font-weight: bold; }
  nav .navbar-brand {
    padding: 0;
    margin: 10px; }
  nav .dropdown:hover .dropdown-menu {
    display: block !important; }
  nav span.bt-stack {
    margin: -8px -20px -8px;
    font-size: 2.3em; }
  nav .nav-checkout {
    margin: -9px -2px -7px;
    text-align: right; }

.nav-tiles .title {
  font-size: 20px; }
.nav-tiles li {
  padding: 0 0; }
  .nav-tiles li a {
    border: 1px solid #E6E6E6;
    background-color: #ededed;
    color: #999; }
  .nav-tiles li a:hover {
    background-color: #eee !important; }
.nav-tiles li.active a {
  background: #fff;
  color: #222;
  border-bottom: 1px solid white;
  font-weight: bold; }
.nav-tiles li.active a:hover {
  background-color: white !important; }

.select-tab > .tile:first-child {
  margin-top: 0 !important; }
.select-tab .row.tile {
  margin: 20px 70px;
  border: 1px solid #ddd; }
  .select-tab .row.tile > div {
    padding: 20px 30px; }
.select-tab .form-btn-center {
  text-align: center !important;
  margin: 25px auto; }
  .select-tab .form-btn-center .btn {
    padding: 10px 50px; }
.select-tab .tile-dark, .select-tab .tile-image {
  background-color: #F7F7F7;
  border-left: 1px solid #eee; }
.select-tab .tile-image {
  border: 1px solid #eee;
  padding: 20px; }
  .select-tab .tile-image img {
    width: 80px; }
.select-tab .tile-avatar-and-fullname {
  margin: 0;
  padding: 0 0 !important; }
  .select-tab .tile-avatar-and-fullname .tile-fullname {
    padding: 50px 20px; }
    .select-tab .tile-avatar-and-fullname .tile-fullname label {
      margin-bottom: -10px; }
    .select-tab .tile-avatar-and-fullname .tile-fullname select {
      border-radius: 0px;
      padding: 10px 8px;
      height: 42px; }

.modal {
  overflow-y: auto; }
  .modal .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    border: 1px solid white; }
  .modal .modal-content, .modal .modal.in .modal-dialog {
    max-width: 450px;
    margin: auto;
    margin-top: 100px;
    border: none; }
  .modal .modal-body {
    padding: 0px 15px; }
    .modal .modal-body > .row {
      background-color: #eee;
      border: 1px solid #ddd; }
    .modal .modal-body p {
      margin: 0 0 10px;
      padding: 21px 0 0;
      text-align: right; }
    .modal .modal-body .flag-icon {
      border-radius: 2px; }
  .modal .modal-lg .modal-content {
    max-width: none; }

.modal-open {
  overflow: auto; }

.tile-weather {
  border-right: 1px solid #ccc; }
  .tile-weather ul {
    padding: 0px; }
    .tile-weather ul li {
      display: block;
      margin: 10px auto; }
      .tile-weather ul li .weather-padding {
        padding: 20px 10px;
        background-color: #fff; }
        .tile-weather ul li .weather-padding :first-of-type {
          text-align: center; }
        .tile-weather ul li .weather-padding h3 {
          margin: 0;
          margin-top: 5px; }
        .tile-weather ul li .weather-padding h4 {
          margin: 0; }
          .tile-weather ul li .weather-padding h4 i {
            font-size: 15px; }
        .tile-weather ul li .weather-padding h5 {
          margin: 0;
          opacity: 0.7; }
        .tile-weather ul li .weather-padding .wi {
          float: right;
          font-size: 36px; }

.tile {
  border: 1px solid #ccc; }
  .tile .tile-padding {
    padding: 20px; }
  .tile .input-group-addon {
    margin-top: 10px !important; }
  .tile-store .tile {
    padding: 20px;
    margin: 20px 0; }
    .tile-store .tile h1 {
      margin-bottom: 0; }
    .tile-store .tile h3 {
      margin-top: 0; }
    .tile-store .tile img {
      max-width: 100%;
      border: 1px solid #ccc; }
  .tile .table th {
    font-weight: bold; }
  .tile .table td {
    vertical-align: inherit; }
    .tile .table td img {
      max-height: 40px;
      border-radius: 50px;
      margin-right: 5px; }
  .tile #payment-form {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 1px; }

.tile-cart h1, .tile-checkout h1 {
  padding: 0 20px; }
.tile-cart .table, .tile-checkout .table {
  border-radius: 5px;
  background: #fdfdfd; }
  .tile-cart .table thead, .tile-checkout .table thead {
    background-color: white; }
    .tile-cart .table thead tr > th:first-of-type, .tile-checkout .table thead tr > th:first-of-type {
      border-top-left-radius: 5px; }
  .tile-cart .table th, .tile-checkout .table th {
    font-weight: bold;
    padding: 15px 30px; }
  .tile-cart .table .table-grey, .tile-checkout .table .table-grey {
    background-color: #f9f9f9; }
  .tile-cart .table .table-footer, .tile-checkout .table .table-footer {
    background-color: white;
    border-top: 2px solid #dcdcdc; }
  .tile-cart .table .btn, .tile-checkout .table .btn {
    float: right; }
  .tile-cart .table td, .tile-checkout .table td {
    vertical-align: inherit;
    padding: 15px 30px; }
    .tile-cart .table td img, .tile-checkout .table td img {
      max-height: 40px;
      border-radius: 50px;
      margin: auto;
      display: block; }
    .tile-cart .table td .quantity, .tile-checkout .table td .quantity {
      max-width: 50px !important;
      min-width: 25px !important;
      margin: auto;
      display: block; }

.tile-checkout, .tile-cart {
  margin-top: 20px; }
  .tile-checkout .logged-in, .tile-cart .logged-in {
    margin: 0 auto; }
    .tile-checkout .logged-in .col-md-2 > span, .tile-cart .logged-in .col-md-2 > span {
      float: right; }
    .tile-checkout .logged-in img, .tile-cart .logged-in img {
      max-height: 70px;
      float: right;
      margin-right: 10px; }
    .tile-checkout .logged-in h5, .tile-checkout .logged-in h3, .tile-cart .logged-in h5, .tile-cart .logged-in h3 {
      margin: 0px; }
    .tile-checkout .logged-in h3, .tile-cart .logged-in h3 {
      margin-top: 12px; }
  .tile-checkout .tile-address, .tile-cart .tile-address {
    border: 1px solid #ddd;
    padding: 10px;
    background: #fdfdfd;
    cursor: pointer;
    min-height: 142px;
    margin: 10px 0px; }
    .tile-checkout .tile-address.address-new .btl, .tile-cart .tile-address.address-new .btl {
      margin: 25px auto;
      display: table;
      color: #ccc; }
    .tile-checkout .tile-address:hover, .tile-cart .tile-address:hover {
      border: 1px solid #bbb !important; }
    .tile-checkout .tile-address.selected, .tile-cart .tile-address.selected {
      border: 1px solid #222; }
  .tile-checkout .options, .tile-cart .options {
    text-align: center;
    padding-bottom: 10px; }

.tile-cart-order .table td {
  background-color: #F4F4F4; }
.tile-cart-order .table .table-grey {
  background: #f9f9f9; }

/*# sourceMappingURL=style.css.map */
