/* 
    Made by Luke Brown
    me@luke.sx
*/

/* General Site Styling */
html, body {
    height: 100%;
}

body {
    background-color: #f6f6f6;
    color: #333;
}

* {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.22px;
    text-transform: uppercase;

}

.animate, .animate:hover {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

img {
    width: 100%;
    border-radius: 5px;
}

img.tile {
    width: 80px;
    height: 80px;
}

.well i.small {
    font-size: 13px;
}


/* Navbar styling */
.navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #444;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 18px 18px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999 !important;
    font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #008AAD;
    font-weight: 400;
}

.navbar-brand:hover {
    color: #777 !important;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.95);
}




/* Loads dynamic footer */
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -90px;
    /* padding-top: 90px; */
}
.footer {
    height: 40px;
}
.push {
    height: 100px;
}




/* Styling for forms */
.contentbox {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
}

.contentbox a {
    color: #111;
}

.contentbox a:hover, label:hover {
    font-weight: bold;
    text-decoration: none;
}

.contentbox > a {
    text-transform: none !important;
    text-align: right;
    width: 49%;
    min-width: 49%;
    max-width: 49%;
    display: inline-block;
}

.contentbox > a:first-of-type {
    text-align: left;
}

input[type=text], input[type=password], input[type=email] {
    display: block;
    margin-bottom: 15px;
    background: rgba(226, 226, 226, 0.49);
    border: 0px;
    padding: 8px 16px;
    font-size: 17px;
    color: #444;
    font-weight: 300;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
}

input[type=submit] {
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    margin-bottom: 15px;
    border: 0px;
    padding: 8px 16px;
    font-size: 17px;
    font-weight: 300;
    width: 100%;
    border-radius: 5px;
    background: #008AAD;
}

input[type=submit]:hover {
    background: #006D89;
}

img.captcha {
    width: 50%;
    margin-bottom: 14px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
    border-radius: 7px;
}

.brand {
    padding: 1px 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999 !important;
    font-family: 'Open Sans', sans-serif;
    display: -webkit-box;
    margin-bottom: 20px;
}

input[type=checkbox] {
    margin-bottom: 15px;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: transparent;
}

label {
    max-width: 100%;
    margin-top: 2px;
    font-weight: 400;
    position: absolute;
}


/* Overriding the selector colour */
::selection {
    background: #008AAD;
    color: #fff;
}
::-moz-selection {
    background: #008AAD;
    color: #fff;
}




/* Jumbotron of sexiness */
.jumbotron:before {
    background: url(http://wallpaper-download.net/wallpapers/nature-wallpapers-mountain-night-wallpaper-35051.jpg) center center;
    z-index: -2;
}

.jumbotron {
    min-height: 400px;
    position: relative;
    background: rgba(0,95,107,0.9);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 120px;
    border-bottom: rgba(34, 34, 34, 0.21) 7px solid;
}

.jumbotron.smaller {
    min-height: 200px;
    padding-top: 60px;
}

.jumbotron:before, .jumbotron:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jumbotron h1 {
    -webkit-animation: smooth-entry-title 1s;
    -moz-animation: smooth-entry-title 1s;
    animation: smooth-entry-title 1s;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

.jumbotron h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #444;
}

.jumbotron.smaller h1 {
    text-align: left;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 29px;
    font-weight: bold;
    color: #777;
    text-align: center;
    line-height: 1.3;
}


/* General Footer Styling */
.footer .row {
    margin-top: 8px;
}

.footer {
    -webkit-box-shadow: inset 0px 8px 18px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 8px 18px -6px rgba(0,0,0,0.4);
    box-shadow: inset 0px 8px 18px -6px rgba(0,0,0,0.4);
    background: #1E1E1E;
    height: 90px;
    padding: 20px;
}

.footer > * {
    opacity: 0.5;
    color: #eee;
}

.footer > p {
    color: #fff;
}

.footer a {
    color: #eee;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: -5px;
}

.footer p {
    font-size: 15px;
}



/* Slide up and down */
.slideDown{
    animation-name:slideDown;
    -webkit-animation-name:slideDown;
    animation-duration:1s;
    -webkit-animation-duration:1s;
    animation-timing-function:ease;
    -webkit-animation-timing-function:ease;
    visibility:visible!important;
}

@keyframes slideDown {
    0%{ transform:translateY(-100%); }
    50%{ transform:translateY(8%); }
    65%{ transform:translateY(-4%); }
    80%{ transform:translateY(4%); }
    95%{ transform:translateY(-2%); }
    100%{ transform:translateY(0%); }
}

@-webkit-keyframes slideDown {
    0% { -webkit-transform: translateY(-100%); }
    50%{ -webkit-transform: translateY(8%); }
    65%{ -webkit-transform: translateY(-4%); }
    80%{ -webkit-transform: translateY(4%); }
    95%{ -webkit-transform: translateY(-2%); }           
    100% { -webkit-transform: translateY(0%); }   
}

.slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;    
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;
    visibility: visible !important;         
}

@keyframes slideUp {
    0% { transform: translateY(100%); }
    50%{ transform: translateY(-8%); }
    65%{ transform: translateY(4%); }
    80%{ transform: translateY(-4%); }
    95%{ transform: translateY(2%); }           
    100% { transform: translateY(0%); }   
}

@-webkit-keyframes slideUp {
    0% { -webkit-transform: translateY(100%); }
    50%{ -webkit-transform: translateY(-8%); }
    65%{ -webkit-transform: translateY(4%); }
    80%{ -webkit-transform: translateY(-4%); }
    95%{ -webkit-transform: translateY(2%); }           
    100% { -webkit-transform: translateY(0%); }   
}

